<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lesson_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Lesson_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Lesson_3.Properties.Settings.AccessDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\User\Documents\Nwind.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Lesson_3.Properties.Settings.NwindConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Nwind.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Lesson_1.Properties.Settings.AccessDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\User\Documents\Nwind.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Lesson_1.Properties.Settings.NwindConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Nwind.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Lesson_1.Properties.Settings>
            <setting name="Country" serializeAs="String">
                <value>Country</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>C</value>
            </setting>
        </Lesson_1.Properties.Settings>
        <Lesson_3.Properties.Settings>
            <setting name="Country" serializeAs="String">
                <value>Country</value>
            </setting>
        </Lesson_3.Properties.Settings>
    </userSettings>
</configuration>